:root {
  --primary-color: #b002a4;
  --box-shadow: 0 0 20px 5px rgba(58, 58, 58, 0.644);
  --main-font-family: 'Rubik Mono One', 'Courier New', Courier, monospace;
  --main-text-shadow: 2px 2px rgb(247, 0, 255);
}


body {
  background-color: rgb(212, 212, 212);
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

/* Welcome */
.welcome {
  background-image: linear-gradient(black, var(--primary-color));
  width: 100%;
  height: 100vh;
  margin: 0;
  font-size: xx-large;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  flex-direction: column;
  text-shadow: var(--main-text-shadow);
}

.greeting {
  margin: 0;
  color: white;
  font-family: var(--main-font-family);
}

.greeting {
  display: inline-block;
  animation: comeAtYou 3s ease-out infinite;
  opacity: 0;
  transform: translateZ(-500px);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

@keyframes comeAtYou {
  0% {
    opacity: 0;
    transform: translateZ(-500px);
  }

  50% {
    opacity: 1;
    transform: translateZ(0);
  }

  100% {
    opacity: 0;
    transform: translateZ(500px);
  }
}



/* Error and loading States */

.Error {
  font-size: 5rem;
  color: red;
}

.loading {
  font-size: 4rem;
}

/* NavBar section */
.navbar-div {
  height: 100vh;
  width: 6%;
  background-color: var(--primary-color);
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  box-shadow: var(--box-shadow);
  overflow-y: auto;

}

.top-search {
  margin-top: 30px;
}

.bottom-search {
  margin-top: auto;
  margin-bottom: 30px;
}

.favourites {
  margin-bottom: 20px;
}

.settings {
  margin-top: 20px;
}

.home-div {
  margin-bottom: 500px;
}

/* Logo Section  */
.logo-div {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 400px;
  margin-left: 50px;

}

.logo {
  font-family: var(--main-font-family);
  font-size: 3rem;
  text-shadow: var(--main-text-shadow);
}

.logo-div p {
  margin-top: -30px;
  font-style: italic;
  font-family: "cursive";
  text-shadow: var(--main-text-shadow);
}

/* Recommendation Shows  */

.main-div {
  margin-top: 80px;
  margin-left: 50px;
  margin-right: 50px;
}

.main-header {
  color: rgb(0, 0, 0);
  font-size: 1.7rem;
  font-family: var(--main-font-family);
  text-decoration: underline;

}

/* Drop Down Menu */

.genre-dropDown {
  border-radius: 10px;
  width: 200px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.2rem;
  background-color: var(--primary-color);
  color: white;

}

.genre-dropDown:hover {
  background-color: var(--primary-color);
}

.genre-dropDown:focus {
  box-shadow: 0 0 20px 5px rgba(75, 75, 179, 0.865);
}

/* Cards */

.main-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  margin-left: -35px;
  margin-right: 20px;
}


.card {
  background-color: rgb(226, 226, 226);
  width: 300px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-style: solid;
  border-radius: 20px;
  box-shadow: 0 0 20px 5px rgba(255, 177, 221, 0.445);
  margin: 20px;
  cursor: pointer;
  color: black;

}

.card:hover {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px 5px rgba(255, 160, 160, 0.644);
}

.card-image {
  height: 150px;
  width: 150px;
  border: 3px;
  border-color: black;
  border-style: solid;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bolder;
  text-decoration: underline;
}

.card-seasons {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.card-episodes {
  font-size: 1.1rem;
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.desc-title {
  font-size: 1.3rem;
  text-decoration: none;
}

.card:hover .card-image {
  opacity: 0.4;
}

.card:hover .card-info {
  opacity: 0.8;
}

/* Used webkit to shorten the lines of the paragragh */
.card-desc {
  font-size: 1rem;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  /* This is for compatibility for browsers that don't use webkit */

}

/* settings modal */

.settingsDiv {
  background-color: var(--primary-color);
  height: 100vh;
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 10;
  padding: 30px;
  box-shadow: 0 0 20px 5px rgba(5, 5, 5, 0.726);
  display: flex;
  flex-direction: column;

}

.themes {
  font-size: 2rem;
  margin-top: 40px;
}

.closeModal {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background-color: red;
  border-color: darkred;
  margin-left: auto;
}

.link {
  text-decoration: none;
}

/* Podcast Landing Page */

.podLandingPage {
  background-color: rgb(212, 212, 212);
}

.mainPodcastHeader {
  width: 100%;
  height: 600px;
  background-color: #AEAEAE;

}

.podcastHeaderTitleSect {
  display: flex;
  justify-content: space-between;
}

.podcastTitle {
  font-size: 2rem;
  font-family: var(--main-font-family);
  text-decoration: underline;
  margin-top: 50px;
  margin-left: 50px;
  text-shadow: var(--main-text-shadow);
}

.podTitleDiv {
  width: 800px;
}

.podHome {
  margin: 20px;

}

.podLandingDescription {
  margin: 50px;
  margin-top: -10px;
  max-width: 90vw;
}




/* Seasons Div */

.mainPodcastBody {
  margin: 50px;
}

.season {
  font-size: 2rem;
  font-weight: bolder;
  margin: 50px;
  font-family: var(--main-font-family);
  text-shadow: var(--main-text-shadow);
  text-decoration: underline;

}

.seasons {
  height: 100px;
  width: 500px;
  background-color: white;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  display: flex;
  margin-left: 40px;
  padding: 10px;
  align-items: center;
  margin-top: 20px;

}

.seasonNumber {
  padding: 0;
  margin: 0;
}

.season-image {
  height: 80px;
  width: 80px;
  border: 3px;
  font-size: 1.5rem;
  border-color: black;
  border-style: solid;
  border-radius: 10px;
  margin-left: 20px;
}

.seasonsInfo {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-left: 20px;
  padding: 10px;
}

.seasonEpDiv {
  width: 100px;
  height: 40px;
  background-color: #b002a4;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.seasonsDiv {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.seasonLink {
  color: black;
}

.showGenre {
  margin-top: -20px;

}

.podcastGenre {
  text-decoration: underline;
  font-size: 2rem;
}


.epCard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.showPodcastDiv {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
}

.favBtn {
  background-color: var(--primary-color);
  margin-top: 15px;
  color: white;
  border-radius: 5px;
  margin-right: 10px;
  border-style: none;
  padding: 5px;
  cursor: pointer;
}

.favBtn:hover {
  background-color: #ff88f7;
}

.ep-card {
  background-color: rgb(226, 226, 226);
  width: 300px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-style: solid;
  border-radius: 20px;
  box-shadow: 0 0 20px 5px rgba(255, 177, 221, 0.445);
  margin: 20px;
  color: black;

}

/* Audio Toggles */
.audio-card {
  width: 500px;
  height: 100px;
  background-color: rgb(241, 241, 241);
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 10;
  bottom: 0;
}

.audio-image {
  width: 50px;
  height: 50px;
  border-style: solid;
}

.audio-button {
  width: 40px;
  height: 40px;
  background-color: var(--primary-color);
  color: white;
  margin: 0;
  margin-right: auto;

}

.audio-image {
  margin-right: 30px;
}

.audio-info {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

audio {
  margin-top: 50px;
}



/* 
  theme Toggle */